body {
    background-color:#8531b973 ;
}

 h1 {
    font-family: fantasy;
 }

.content {
    margin-top: 10px;
    margin-bottom: 10px;
    background: lightgray;
    width: 100%;
    padding: 30px;

}

#dotted {
    width: 100%;
    border: 0;
    border: bottom 2px;
    height: 200px;
}

#number2 {
    width: 100%;
    margin: 2px;
    margin-top: 10px;
}

#red {
   background-color: red
}

#grey {
    background-color: grey;
    float: right ;
}

#submit {
    background-color: green;
    margin-top: 10px;
    margin-bottom: 30px;
}
